[Desktop Entry]
Encoding=UTF-8
Name=Link to mushroom.png
Type=Link
URL=https://github.com/Pauline-momanyi/pizza_place/blob/master/images/mushroom.png?raw=true
Icon=image-png
