[Desktop Entry]
Encoding=UTF-8
Name=Link to pepperoni.png
Type=Link
URL=https://github.com/Pauline-momanyi/pizza_place/blob/master/images/pepperoni.png?raw=true
Icon=image-png
