[Desktop Entry]
Encoding=UTF-8
Name=Link to pizza6.png
Type=Link
URL=https://github.com/Pauline-momanyi/pizza_place/blob/master/images/pizza6.png?raw=true
Icon=image-png
